.fa-pen{
    float:right;
    color:orange
}

.fa-pen:hover {
    color: blue !important;
    transform: scale(1.5);
}

.fa-trash:hover {
    color: red !important;
    transform: scale(1.5);
}

.fa-arrow-left{
    size:100px
}

.fa-plus {
    color: green;
    border-radius: 50%;
    margin-left:10px
}


.fa-plus:hover {
    color: blue;
    transform: scale(1.5);
}

.fa-minus{
    color:red;
    margin-left:10px
}

.fa-minus:hover{
    color:orange;
    transform: scale(1.5);
}
.fa-book-reader{
    color: orange;
}


.fa-book-reader:hover{
    color: blue !important;
    transform: scale(1.5);
}